<div id="<%= dom_id travel %>">
  <p>
    <strong>Departure point:</strong>
    <%= travel.departure_point %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= travel.destination %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= travel.price %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= travel.date %>
  </p>

</div>
