<div id="<%= dom_id travel %>" class="travel__container">
  <p>
    <strong>Departure point:</strong>
    <%= travel.departure_point %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= travel.destination %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= travel.price%>
  </p>

  <p>
    <strong>Date:</strong>
    <%= travel.date %>
  </p>
  <strong>Номер телефона: </strong>
  <%= travel.phone_number %>
</div>
