<h1>Search Travels</h1>

<%= form_tag(travels_path, method: :get) do %>
  <div>
    <%= label_tag :departure_point, 'Departure Point' %>
    <%= text_field_tag :departure_point %>
  </div>

  <div>
    <%= label_tag :destination, 'Destination' %>
    <%= text_field_tag :destination %>
  </div>

  <div>
    <%= label_tag :date, 'Date' %>
    <%= text_field_tag :date, nil, type: :date %>
  </div>

  <%= submit_tag 'Search' %>
<% end %>