<div class='header'>
  <div class="flex-container">
    <div class="header__content">
      <%= link_to "На главную", travels_path, class:'address' %>
      <%= link_to "Поиск",search_travels_path, class:'address' %>
      <%= link_to "Создать",new_travel_path, class:'address' %>
      <%= link_to "Мой профиль",user_index_path, class:'address'%>
    </div>
  </div>

</div>
<div class="body">
  <h1>Админ панель</h1>
  <div class="flex-container">
    <div class="body__content">
      <div id="travels">
        <% @travels.each do |travel| %>
          <%= render travel %>
          <p>
            <%= link_to "Show this travel", travel %>
            <%= link_to "Edit this travel", edit_travel_path(travel), class:"change-button" %>
            <% if travel.is_approved %>
              <%= link_to "Disapprove this travel", controller: "travels", action: "disapprove", id: travel.id %>
              <% else %>
              <%= link_to "Approve this travel", controller: "travels", action: "approve", id: travel.id %>
              <% end %>
            <%= button_to "Destroy this travel", travel, method: :delete, class:'change-button' %>
          </p>
        <% end %>
      </div>

    </div>
  </div>
</div>

